@page "/Golfers"
@page "/Golfers/Personen"
@page "/Golfers/Golfdagen"

@using BerghAdmin.Authorization
@using BerghAdmin.Data
@using BerghAdmin.Pages.Personen

@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "IsBeheerGolfers")]

<h3>Golfers</h3>

<PersonenComponent RolContext="@rolContext" />

@code
{
    public int[] rolContext = new int[] { Convert.ToInt32(RolTypeEnum.Golfer) };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "golfer");
    }
}