@page "/Ambassadeurs"
@page "/Ambassadeurs/Overzicht"

@using BerghAdmin.Authorization
@using BerghAdmin.Data

@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "IsBeheerAmbassadeurs")]

<h3>Ambassadeurs - overzicht</h3>

<PersonenComponent RolContext="@rolContext" />

@code
{
    public int[] rolContext = new int[] { Convert.ToInt32(RolTypeEnum.Contactpersoon) };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "ambassadeur");
    }

}