@page "/Deelnemers/Fietstochten/ToevoegenFietsers"

@using BerghAdmin.Authorization
@using BerghAdmin.Data
@using BerghAdmin.General
@using BerghAdmin.Services.Evenementen;

@inject IJSRuntime jsRuntime
@inject NavigationManager _navigationManager
@inject IFietstochtenService _fietstochtenService

@attribute [Authorize(Policy = "IsBeheerFietsers")]

<h3>Toevoegen Fietsers aan fietstocht: "@_huidigeFietstocht!.Titel"</h3>


@code
{
    int _fietstochtId;
    Fietstocht? _huidigeFietstocht;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        if (!_navigationManager.TryGetQueryString<int>("fietstochtId", out _fietstochtId))
        {
            // TO DO: We don't have a fietstochtId
            _navigationManager.NavigateTo("/Error");
        }
        _huidigeFietstocht = await _fietstochtenService.GetById(_fietstochtId);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "fietser");
    }
}
