@page "/ambassadeurs"

<h1>Ambassadeurs</h1>

<MudPaper Width="300px">
    <MudList Clickable="false">
        <MudListSubheader>Nog verder invullen</MudListSubheader>
        <MudListItem>Overzicht alle ambassadeurs</MudListItem>
        <MudListItem>Overzicht inclusief inactieve ambassadeurs</MudListItem>
        <MudListItem>Opstellen en versturen mailing</MudListItem>
        <MudListItem Text="Per ambassadeur" InitiallyExpanded="true">
            <NestedList>
                <MudListItem>Alle gegevens kunnen wijzigen</MudListItem>
                <MudListItem>(in) actief kunnen zetten</MudListItem>
                <MudListItem>historie betalingen, emails, facturen</MudListItem>
                <MudListItem>aanmaken factuur (voor postversturing)</MudListItem>
                <MudListItem>versturen factuur (mbv email)</MudListItem>
                <MudListItem>versturen email</MudListItem>
            </NestedList>
        </MudListItem>
    </MudList>
</MudPaper>
