@using Syncfusion.Blazor.Popups
@using BerghAdmin.Pages

<div class="mail-address-container" title="@Address.Address" @onclick="EditMailAddress">
    @Address.Name
    <span @onclick:stopPropagation>
        <SfButton CssClass="e-round e-small e-danger ml-1" IconCss="e-icons e-close-icon" @onclick="DeleteMailAddress"></SfButton>
    </span>
</div>

<EditMailAddressDialog @ref="editMailAddressDialog"></EditMailAddressDialog>

<style>
    .e-close-icon::before {
        content: '\e7e7';
    }
</style>