@using Syncfusion.Blazor.Popups
@using BerghAdmin.Pages
@using BerghAdmin.Pages.Mail

<div class="mail-address-container" title="@Address.Address" @onclick="EditMailAddress" @onclick:stopPropagation="true">
    @Address.Name
    <a @onclick="DeleteMailAddress" @onclick:stopPropagation="true" class="delete-icon">
        <SfIcon Name="IconName.Close" Size="IconSize.Small"></SfIcon>
    </a>
</div>

<EditMailAddressDialog @ref="editMailAddressDialog" OnMailAddressUpdated="@MailAddressUpdated"></EditMailAddressDialog>

<style>
</style>