.mail-address-container {
    display: inline-block;
    margin: 2px;
    padding: 2px 5px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 7px;
    cursor: pointer;
    background: rgb(248, 249, 250);
    color: rgb(73, 80, 87);
    font-size: 0.85em;
    user-select: none;
}

    .mail-address-container:hover {
        background: rgb(108, 117, 125);
        color: rgb(255, 255, 255);
    }

.e-extra-small {
    width: 15px;
    height: 15px;
    margin: -2px 0 0 0;
    font-size: 11px;
}
