<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bergh in het Zadel</a>
</div>

<div id="SideMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" data-context="shared">
            <NavLink class="nav-link" href="/" >
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/home.png">
                &nbsp; Home
            </NavLink>
        </li>
        @* Ambassadeurs *@
        <li class="nav-item px-3" data-context="ambassadeur">
            <NavLink class="nav-link" href="/Ambassadeurs/personen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/ambassadeurs.png">
                &nbsp; Ambassadeurs
            </NavLink>
        </li>
        @* Fietsers *@
        <li class="nav-item px-3" data-context="fietser">
            <NavLink class="nav-link" href="/Fietsers/Fietstochten">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/fietsers.png">
                &nbsp; Fietstochten
            </NavLink>
        </li>
        <li class="nav-item px-3" data-context="fietser">
            <NavLink class="nav-link" href="/Fietsers/Fietsers">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/fietsers.png">
                &nbsp; Fietsers
            </NavLink>
        </li>
        @* Golfers *@
        <li class="nav-item px-3" data-context="golfer">
            <NavLink class="nav-link" href="/Golfers/personen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/golfers.png">
                &nbsp; Golfers
            </NavLink>
        </li>
        <li class="nav-item px-3" data-context="golfer">
            <NavLink class="nav-link" href="/Golfers/golfdagen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/golfers.png">
                &nbsp; Golfdagen
            </NavLink>
        </li>
        @* Financien *@
        <li class="nav-item px-3" data-context="financien">
            <NavLink class="nav-link" href="/Financien/donaties">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/templates.png">
                &nbsp; Donaties
            </NavLink>
        </li>
        <li class="nav-item px-3" data-context="financien">
            <NavLink class="nav-link" href="/Financien/betalingen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/templates.png">
                &nbsp; Betalingen
            </NavLink>
        </li>
        @* Secretariaat *@
        <li class="nav-item px-3" data-context="secretariaat">
            <NavLink class="nav-link" href="Secretariaat/personen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/personen.png">
                &nbsp; Personen
            </NavLink>
        </li>
        <li class="nav-item px-3" data-context="secretariaat">
            <NavLink class="nav-link" href="Secretariaat/email">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/email.png">
                &nbsp; e-Mail
            </NavLink>
        </li>
        @* Applicatie management *@
        <li class="nav-item px-3" data-context="applicatiemanagement">
            <NavLink class="nav-link" href="/ApplicatieManagement/templates">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/templates.png">
                &nbsp; Templates
            </NavLink>
        </li>
        @* Applicatie management *@
        <li class="nav-item px-3" data-context="applicatiemanagement">
            <NavLink class="nav-link" href="/ApplicatieManagement/personen">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/personen.png">
                &nbsp; Personen
            </NavLink>
        </li>
        @* Applicatie management *@
        <li class="nav-item px-3" data-context="applicatiemanagement">
            <NavLink class="nav-link" href="/ApplicatieManagement/users">
                <img style="width:24px;height:24px" viewBox="0 0 24 24" src="./images/users.png">
                &nbsp; Users
            </NavLink>
        </li>
    </ul>
</div>
<div class="logo-menu">
    <a href="https://www.berghinhetzadel.nl/" target="_blank">
        <img style="width:128px;height:128px" src="./images/Logo-BIHZ-rectangle.jpg">
    </a>
</div>

<style>
    .logo-menu {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 50%;
        bottom: 10px;
    } 
</style>