@page "/Secretariaat"
@page "/Secretariaat/personen"
@page "/Secretariaat/EMail"

@using BerghAdmin.Authorization
@using BerghAdmin.Data
@using BerghAdmin.Pages.Personen

@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "IsSecretariaat")]

<h3>Secretariaat</h3>

<PersonenComponent RolContext="@rolContext" SelectedId="@SelectedId" ToonAlles="true" />

@code
{
    [Parameter]
    [SupplyParameterFromQuery(Name = "SelectedId")]
    public int? SelectedId { get; set; } = null;

    public int[] rolContext = new int[] { };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "secretariaat");
    }

}

