@page "/Ambassadeurs"
@page "/Ambassadeurs/personen"

@using BerghAdmin.Authorization
@using BerghAdmin.Data

@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "IsBeheerAmbassadeurs")]

<h3>Ambassadeurs</h3>

<PersonenComponent RolContext="@rolContext" />

@code
{
    public RolTypeEnum[] rolContext = new RolTypeEnum[] { RolTypeEnum.Ambassadeur };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "ambassadeur");
    }

}