@page "/ApplicatieManagement"
@page "/ApplicatieManagement/templates"
@page "/ApplicatieManagement/personen"

@inject IJSRuntime jsRuntime

<h3>Applicatie Management</h3>

<PersonenComponent Context="personen" />

@code
{

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "applicatiemanagement");
    }

}