@page
@model BerghAdmin.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Systeemfout</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Systeemfout</h1>
            <h2 class="text-danger">Er is iets mis gegaan</h2>

            <p>
                Geen zorgen. Je hoeft geen speciale actie te ondernemen. Misschien terug gaan naar de vorige pagina.
                De beheerder is ondertussen per e-mail gewaarschuwd.
            </p>
        </div>
    </div>
</body>

</html>
