@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService

<div id="target">
    <SfDialog Target="#target" Width="250px" IsModal="true" ShowCloseIcon="true" CloseOnEscape="true" @bind-Visible="@IsVisible">
         <DialogEvents OnOverlayModalClick="@OnOverlayModalClick" />
         <DialogTemplates>
            <Header>Probleempje...</Header>
            <Content>@_content</Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Sluiten" IsPrimary="true" OnClick="@CloseDialog" />
        </DialogButtons>
    </SfDialog>
</div>

<style>
    #target {
        min-height: 450px;
        height: 100%;
    }
</style>

@code {
    public bool IsVisible { get; set; } = false;
    private string _content = "";

    public void Show(string errorMessage)
    {
        _content = errorMessage;
        this.IsVisible = true;
    }

    private void CloseDialog()
    {
        this.IsVisible = false;
    }

    private void OnOverlayModalClick(OverlayModalClickEventArgs args)
    {
        this.IsVisible = false;
    }
}