@page "/Fietsers"
@page "/Fietsers/Personen"

@using BerghAdmin.Data

@inject IJSRuntime jsRuntime
@attribute [Authorize(Policy = "BeheerFietsers")]

<h3>Fietsers</h3>

<PersonenComponent RolContext="@rolContext" />

@code
{
    public RolTypeEnum[] rolContext = new RolTypeEnum[] { RolTypeEnum.Fietser };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "fietser");
    }
}
