@page "/Fietsers"
@page "/Fietsers/Personen"
@page "/Fietsers/Tochten"

@inject IJSRuntime jsRuntime

<h3>Fietsers</h3>

<PersonenComponent Context="fietser" />

@code
{

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "fietser");
    }
}
