@page "/Financien"
@page "/Financien/Donaties"
@page "/Financien/Betalingen"

@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime

<h3>Financiën</h3>

@code
{

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "financien");
    }
}