@page "/Golfers"
@page "/Golfers/personen"

@inject IJSRuntime jsRuntime

<h3>Golfers</h3>

<PersonenComponent Context="golfer" />

@code
{

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "golfer");
    }
}