@page "/"
@inject BerghAdmin.Services.ISeedDataService seedDataService

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

<div class="row">
    <div class="control-section col-lg-9 e-card">
        <SfCard ID="Tile-Ambassadeurs">
            <CardHeader Title="Ambassadeurs" />
            <CardImage Image="images/tile-ambassadeurs.jpg" />
            <CardContent Content="Alle functies tav ambassadeurs" />
        </SfCard>
    </div>
    <div class="control-section col-lg-9 e-card">
        <SfCard ID="Tile-Fietsers">
            <CardHeader Title="Fietsers" />
            <CardImage Image="images/tile-fietsers.jpg" />
            <CardContent Content="Alle functies tav fietsers" />
        </SfCard>
    </div>
    <div class="control-section col-lg-9 e-card">
        <SfCard ID="Tile-Golfers">
            <CardHeader Title="Golfers" />
            <CardImage Image="images/tile-golfers.jpg" />
            <CardContent Content="Alle functies tav golfers" />
        </SfCard>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        seedDataService.Initialize();
    }

}

<style>
    .col-lg-9 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #DynamicCard {
        margin: auto;
        width: 60%
    }
    .control-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td {
        font-size: 14px;
    }
    tr {
        height: 25px;
    }
    .e-card .e-card-image {
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
        width: 300px;
    }
    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }
    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 5px;
    }
</style>