@page "/Secretariaat"
@page "/Secretariaat/personen"
@page "/Secretariaat/EMail"

@using BerghAdmin.Data

@inject IJSRuntime jsRuntime

<h3>Secretariaat</h3>

<PersonenComponent RolContext="@rolContext" ToonAlles="true" />

@code
{                                                          
    public RolTypeEnum[] rolContext = new RolTypeEnum[] { };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "secretariaat");
    }

}

