@page "/Secretariaat"
@page "/Secretariaat/personen"
@page "/Secretariaat/EMail"

@using BerghAdmin.Authorization
@using BerghAdmin.Data

@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "IsSecretariaat")]

<h3>Secretariaat</h3>

<PersonenComponent RolContext="@rolContext" ToonAlles="true" />

@code
{
    public int[] rolContext = new int[] {  };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "secretariaat");
    }

}

