@page "/Secretariaat"
@page "/Secretariaat/personen"
@page "/Secretariaat/EMail"

@using BerghAdmin.Data

<h3>Secretariaat</h3>

<PersonenComponent RolContext="@rolContext" />

@code
{
    public RolTypeEnum[] rolContext = new RolTypeEnum[] { RolTypeEnum.Ambassadeur, 
                                                          RolTypeEnum.Begeleider, 
                                                          RolTypeEnum.CommissieLid, 
                                                          RolTypeEnum.Contactpersoon,
                                                          RolTypeEnum.Fietser,
                                                          RolTypeEnum.Golfer,
                                                          RolTypeEnum.MailingAbonnee,
                                                          RolTypeEnum.VriendVan,
                                                          RolTypeEnum.Vrijwilliger };
}

